.close_add{
    position: absolute;
    top: 0.3rem;
    right: 1rem;
    color: red;
    height: 30px;
    width: 30px;
}
.close_add:hover{
    
    color: rgb(205, 38, 38);
}
.new_btn{
    background: none;
    color: black;
    width: 70px;
    position: absolute;
    bottom: 0.5rem;
     border: none;
     color: green;
    left:10rem
}
.new_btn:hover{
    color: green;
}
.new_btn:disabled{
    cursor: not-allowed;
}
.error{
    font-size: 16px;
    color: red;
    font-weight: bold;
}
input,textarea{
    display: block;
}

.plus{
    height: 40px;
    width: 40px;
    
    }
    .plus:hover{
        color:rgb(57, 228, 57) ;
    }
    
    
    
