.card{
    position: relative;
}
.card_completed{
    position: relative;
    background-color: rgb(161, 229, 161);
}

.icon{
    margin-left: 8px;
    font-size: 20px;
}

.btn_x{
    position: absolute;
    left: 27rem; 
top: 1rem;
width: 20px;
 height: 20px;
 cursor: pointer;
}
.btn_x:hover{
   color: red;
}


.change_btn{
    height: 25px;
    color: black;
    position: absolute;
     left: 25.5rem;
     top: 1rem;
     border-radius: 8px;
     border: none;
}
.change_btn:hover{
    color: rgb(122, 230, 122);
}
.change_btn:disabled{
    background-color: rgb(199, 192, 184);
    color: rgb(47, 44, 41);
    cursor:not-allowed ;
}

.completed{
    display: flex;
    align-items: center;
    margin-left: 20px;
    
}
.completed input{
    margin-left: 8px;
}
@media only screen and (max-width:768px) {
    .card,.card_completed{
        width:22rem !important
    }
    .btn_x{
        position: absolute;
    left: 20rem; 
top: 1rem;
    }
    .change_btn{
        position: absolute;
     left: 18.5rem;
     top: 1rem;
    }
}